html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 12px;
	font-family: '思源黑体简','Helvetica Neue-Light';
}

.container {
	width: 250px;
	height: 200px;
	background-color: #f7f7f7;
	border-radius: 12px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -125px;
	margin-left: -100px;
	text-align: center;
	line-height: 200px;
	color: rgba(0,0,0,0.7);
	font-size: 16px;
}

.bgImg {
	width: 300px;
	height: 300px;
	background-color: gray;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(./resource/images/dota-1.jpg);
}